
.navigation-drawer {
  padding: 4px;
}

.logo-container {
  margin-bottom: 16px;
}

.logo {
  margin: 0 auto;
}

.menu-button {
  margin-bottom: 8px;
  justify-content: flex-start;
  text-align: left;
}

.menu-button-selected {
  margin-bottom: 8px;
  justify-content: flex-start;
  text-align: left;
  background-color: #0e1628;
}

.icon {
  margin-right: 8px;
}

.logout-button {
  margin-top: 16px;
}

.content {
  padding: 16px;
}

.saldo-card {
  padding: 32px;
}

.tarjetas-card {
  padding: 48px;
}

.vincular-button,
.desvincular-button {
  margin-right: 8px;
}

.actions-row {
  margin-top: 16px;
}

.action-button {
  margin-bottom: 16px;
  display: flex;            
  justify-content: center;  
  align-items: center;    
}

.action-button .v-icon {
  margin-right: 1em;      
}

.movimientos-card {
  padding: 16px;
}