/* General */
.navigation-drawer {
  padding: 4px;
}

.logo-container {
  margin-bottom: 16px;
}

.logo {
  margin: 0 auto;
}

.menu-button {
  margin-bottom: 8px;
  justify-content: flex-start;
  text-align: left;
}

.menu-button-selected {
  margin-bottom: 8px;
  justify-content: flex-start;
  text-align: left;
  background-color: #0e1628;
}

.icon {
  margin-right: 8px;
}

.logout-button {
  margin-top: 16px;
}

/* Main content */
.content {
  padding: 16px;
}

.saldo-card {
  padding: 32px;
}

.tarjetas-card {
  padding: 48px;
}

.vincular-button,
.desvincular-button {
  margin-right: 8px;
}

.actions-row {
  margin-top: 16px;
}

.action-button {
  margin-bottom: 16px;
  display: flex;            /* Asegura que v-btn sea flex */
  justify-content: center;  /* Centra ícono + texto horizontalmente */
  align-items: center;      /* Centra verticalmente */
}

.action-button .v-icon {
  margin-right: 1em;      /* Espacio entre ícono y texto */
}

.movimientos-card {
  padding: 16px;
}