.bg-dark {
  background-color: #0e1628;
}

.v-main {
  min-height: 100vh;
}

.login-card {
  max-width: 350px;
  width: 100%;
  border-radius: 1rem;
  background-color: #2a3b4c;
  padding: 2rem;
}

.logo-container {
  size: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  background-color: #2a3b4c;
  border-radius: 0.5rem;
}

.logo-image {
  width: 200px;
  height: 200px;
}

.login-button {
  border-radius: 1rem;
  margin-top: 1rem;
  background-color: #00acc1;
}