.card-preview-image {
  border: 1px solid rgba(var(--v-border-color), 0.3); 
  border-radius: 8px; 
  background-color: #eee; 
}

.card-display {
  position: relative; 
}

.card-image {
  border-radius: inherit; 
  
}

.card-overlay-text {
  position: absolute;
  bottom: 8px; 
  left: 16px; 
  color: white; 
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 0.9em;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
}

.card-actions {
  padding: 8px 16px; 
  background-color: rgba(
    var(--v-theme-surface),
    0.8
  ); 
}

.card-type-text {
  font-size: 0.9em;
  color: rgba(
    var(--v-theme-on-surface),
    var(--v-medium-emphasis-opacity)
  );
  flex-grow: 1;
  text-align: left;
}

.v-list-item {
  border: none;
  padding: 0;
  margin-bottom: 0;
}
